VBox {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

HBox {
    -fx-alignment: center;
}

Separator {
    -fx-padding: 10px;
    -fx-max-width: 600px;
}

GridPane {
    -fx-alignment: center;
}

Label {
    -fx-font-size: 16px;
}

.title {
    -fx-font-size: 20px;
    -fx-padding: 0 0 10px 0;
    -fx-font-weight: bold;
}

.btnCompute {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}